body {
    text-align: center;
}

.img {
    width: 500px;
    height: 500px;
    animation: rotation 0.3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}